
			<div id="main">	
                <!-- Header -->
					<header id="header">
						<h1>Lens</h1>
						<%= link_to "Inicio",'/home/index' %>
						<br>
						<%= link_to "Información sobre la galeria",'/home/info' %>
						<br>
						<br>
						<p>Just another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</header>
            </div>

<div>

<br>
<br>
<br>
<br>
<br>
<h1>Información sobre la galeria</h1>
<br>
<br>
<p>Este proyecto tiene como objetivo demostrar la capacidad para integrar plantillas externas a un formato apto para trabajar con ruby on rails</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

<noscript><% javascript_include_tag "main" %><noscript>